* {
    text-decoration: none;
    font-family:"Open Sans", Arial, sans-serif; 
    box-sizing: border-box;
}

nav {
   
    width: 85%;
    text-align: center;
    margin-top: 60px;
}

.logo span {
    font-size: 20px;
    color: #525050;
}
.logo-img {
    width: 15%;
    margin-right: 10px;
}
.menu {
    padding: 10px;
    margin-bottom: 5px;
}
.menu a {
    color: #525050;
    padding: 10px 15px;
    text-transform: uppercase;
}
.active {
    background: orange;
    color: #fff !important;
}

section {
    padding: 10px;
    
}
.container {
    width: 80%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.card {
    width: 32%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    border-radius: 3px;
    background: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}
.flag {
    width: 20%;
}
.card-img,
.title {
    text-align: center;
}
.text {
    margin-left: 38px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.web-color {
    border-top:3px solid #14afec;
}
.sna-color {
    border-top:3px solid #f5aa08;
}

.leader {
    font-weight: 600;
    color: #14afec;
}
.score {
    font-size: 45px;
    margin: 0;
}
.box {
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    border-radius: 3px;
    background: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}
.boxban {
    width: 97.5%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    border-radius: 3px;
    background: #ffffff;
    
    margin-left: 10px;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    display: flex;
    align-items: center;
}
.icon h2 {
    margin-left: 10px;
    font-weight: 500;
}
.time {
    display: flex;
}
.orange {
    color: orange;
}
.time p {
    margin-left: 20px;
    font-weight: 600;
}
header a {
    background: orange;
    padding: 10px 25px;
    box-sizing: border-box;
    color: #f3f3f3;
    border-radius: 40px;
    margin-left: 10px;
}
.icon-img {
    width: 20%;
}
.cost {
    width: 8%;
}
.winner {
    text-align: center;
    font-size: 3rem;
}
@media (max-width:1036px) {
    nav {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .header {
        width: 80%;
       
    }
    .logo img ,
    .logo span{
        display: none;
    }
    .menu {
        width: 90%;
        margin:0 auto !important;
    }
    .card {
        width: 45%;
    }
    header {
        flex-wrap: wrap;
    }
    .boxban {
        width: 91.5%;
    }
}
@media (max-width:768px) {
    .card {
        width: 100%;
    }
    .menu {
        flex-wrap: wrap;
    }
    .menu a {
        width: 100%;
    }
    header a {
        width: 100%;
        margin-top: 10px;
    }
}